<form method="POST">
    <div class="mb-3">
        <label>Username</label>
        <input type="text" name="username" class="form-control" required>
    </div>
    <div class="mb-3">
        <label>Password</label>
        <input type="password" name="password" class="form-control" required>
    </div>

    {% if role == 'student' %}
        <div class="mb-3">
            <label>First Name</label>
            <input type="text" name="first_name" class="form-control">
        </div>
        <div class="mb-3">
            <label>Middle Name</label>
            <input type="text" name="middle_name" class="form-control">
        </div>
        <div class="mb-3">
            <label>Last Name</label>
            <input type="text" name="last_name" class="form-control">
        </div>
    {% else %}
        <input type="hidden" name="role" value="{{ role }}">
    {% endif %}

    <button type="submit" class="btn btn-success">Add {{ role | capitalize }}</button>
</form>
